# -- gitignore for Python --

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
junit/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/_apidoc/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Ruff
**/.ruff_cache

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
/sites/*/*settings*.php
/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/sites/*/files
/sites/*/public
/sites/*/private
/sites/*/files-public
/sites/*/files-private

# Ignore paths that may contain temporary files
/sites/*/translations
/sites/*/tmp
/sites/*/cache

# Ignore testing related files
/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
/core
/modules/README.txt
/profiles/README.txt
/sites/README.txt
/sites/example.sites.php
/sites/example.settings.local.php
/sites/development.services.yml
/themes/README.txt
/vendor
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.htaccess
/autoload.php
/composer.json
/composer.lock
/example.gitignore
/index.php
/LICENSE.txt
/README.txt
/robots.txt
/update.php
/web.config

online/

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

### Vagrant Patch ###
*.box

# Python
.venv

# isso
*.db
*.sqlite
*.log
node_modules
package.json
yarn.lock

# Disqus export
*.xml
*.gz


# configuration
*.env
!template.env

# fixtures
images-idx.json
config-sample.php
_tinified/
*.log
images_uploader/*.log.*

### Ansible ###
*.retry
password_file
comments/__pycache__/__init__.cpython-310.pyc
