Geotribot <geotribu+bot@gmail.com>
Geotribot <geotribu+bot@gmail.com> <66853113+pre-commit-ci[bot]@users.noreply.github.com>
Geotribot <geotribu+bot@gmail.com> <27856297+dependabot-preview[bot]@users.noreply.github.com>
Geotribot <geotribu+bot@gmail.com> <49699333+dependabot[bot]@users.noreply.github.com>

Guilhem Allaman <dev@guilhemallaman.net>
Guilhem Allaman <dev@guilhemallaman.net> <40383801+gounux@users.noreply.github.com>
Guilhem Allaman <dev@guilhemallaman.net> <contact@guilhemallaman.net>
Guilhem Allaman <dev@guilhemallaman.net> <gounux@users.noreply.github.com>

Julien Moura <dev@ingeoveritas.com>
Julien Moura <dev@ingeoveritas.com> <Guts@users.noreply.github.com>
Julien Moura <dev@ingeoveritas.com> <1596222+Guts@users.noreply.github.com>
Julien Moura <dev@ingeoveritas.com> <julien.moura@oslandia.com>
